/** This theme works in both light mode and dark mode. **/

@import url('http://fonts.cdnfonts.com/css/sf-pro-display');
@import url('http://fonts.cdnfonts.com/css/sf-mono');

markup-2BOw-j slateTextArea-1Mkdgw fontSize16Padding-3Wk7zP {
    font-weight: normal;
}

.uploadModal-2ifh8j {
    border-radius: 14px;
}

::selection {
    background-color: #5865F2;
    color: white;
}

.base-1x0h_U, .nickname-3M3Jfa, .fontDisplay-1dagSA, .botText-1526X_ {
    font-weight: 900;
    font-family: 'SF Pro Display';
    letter-spacing: 0.02em;
}

.side-8zPYf6 .item-PXvHYJ {
    border-radius: 8px;
}

.accountProfileCard-1XCH88, .radioBar-bMNUI-, .scrollableContainer-2NUZem {
    border-radius: 16px;
}

.role-2irmRk {
    border-radius: 6px;
}

::placeholder {
    letter-spacing: 0.02em;
}

.customStatusText-1vtUsN {
    letter-spacing: 0.02em;
}

.userPopout-xaxa6l {
    border-radius: 14px;
}

.discrimBase-24vY8o, .title-31JmR4 {
    font-weight: bold;
    letter-spacing: 0.02em;
    font-family: 'SF Pro Display';
}

.username-2b1r56, .headerTagUsernameBase-1NqrY5, .title-3BE6m5{
    font-weight: 900;
    letter-spacing: 0.04em;
    font-family: 'SF Pro Display';
}


.usernameFont-23TX-h {
    font-weight: bold;
}

.centerButton-3CaNcJ {
    border-radius: 50%;
}

.embed-IeVjo6, .input-cIJ7To {
    border-radius: 8px;
}

.aboutMeSection-1Fw5Ia .aboutMeBody-3GuvKk {
    letter-spacing: 0.02em;
}

.markup-2BOw-j code.inline {
    font-family: 'SF Mono';
}
.header-2RyJ0Y, .h5-18_1nd {
    font-weight: 900;
    font-family: inherit;
}

.name-1jkAdW, .tierTooltipTitle-3AtaZT {
    font-weight: 900;
    font-family: 'SF Pro Display';
    letter-spacing: 0.02em;
}

.channelName-2YrOjO, .subtitle-3V1p2E, .roleColor-rz2vM0, .placeholder-37qJjk, .channelNam-2YrOjO, .subtitle-3V1p2E, .label-22pbtT, a, button, strong  {
    font-weight: bold;
}

.side-8zPYf6 .item-PXvHYJ {
    font-weight: bold;
}

#bd-pub-button, #bd-pub-li {
    display: none;
}

.channelTextArea-2VhZ6z {
    font-weight: normal;
}

.menu-3sdvDG {
    border-radius: 12px;
}

.button-38aScr, .swatch-3mFIiP, .item-1tOPte, .gameIcon-gg34Dz{
    border-radius: 8px;
}

::placeholder, body, button, input, select, textarea {
    font-family: 'SF Pro Display';
}
#app-mount .app-2rEoOp {
  font-family: 'SF Pro Display';
  letter-spacing: 0.02em;
  background-size: cover;
  background-image: url(https://wallpaperaccess.com/full/3097725.jpg);
}

.content-2M3n_H a {
    font-weight: bold;
}



.theme-dark .quickMessage-1yeL4E {
  background-color: rgba(69, 69, 69, .5);
  border: none;
  color: white;
}

html {
  background-color: transparent;
}

.membersGroup-v9BXpm {
  color: lightgray;
  padding: 8px 0;
  height: 30px;
  font-size: small;
  text-align: center;
  background-color: rgb(69, 69, 69, .5);
  border-radius: 8px;
  font-family: inherit;
  font-weight: bold;
}

.username-1A8OIy {
    font-weight: bold;
}

.item-26Dhrx, .card-3Qj_Yx {
    border-radius: 12px;
}

.video-8eMOth {
    border-radius: 17px;
}

.embedImage-2W1cML img, .embedImage-2W1cML video, .embedThumbnail-2Y84-K img, .embedThumbnail-2Y84-K video, .embedVideo-3nf0O9 img, .embedVideo-3nf0O9 video, .imageWrapper-2p5ogY img {
    border-radius: 17px;
}

.theme-dark .wrapper-3WhCwL {
    font-weight: bold;
    border-radius: 8px;
}

.content-1x5b-n {
    border-radius: 12px;
    
}

.content-1x5b-n:hover {
   transition: background-color 0.2s linear; /* vendorless fallback */
  -o-transition: background-color 0.2s linear; /* opera */
  -ms-transition: background-color 0.2s linear; /* IE 10 */
  -moz-transition: background-color 0.2s linear; /* Firefox */
  -webkit-transition: background-color 0.2s linear; /*safari and chrome */
}
